<?xml version="1.0"?>
<configuration>
    <startup>
      <!--supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/-->
    </startup>
  <system.serviceModel>
    <services>
      <service name="DataGeneratorServiceLibrary.DataGeneratorService"
        behaviorConfiguration="Default">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/generator"/>
            <!--add baseAddress="net.tcp://localhost:8081/evalservice"/-->
          </baseAddresses>
        </host>
        <endpoint address="basic"
                  binding="basicHttpBinding"
                  contract="DataGeneratorServiceLibrary.IDataGeneratorService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">          
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
